<form action="/artist-search" method="GET">
    
    <input type="text" id="title" name="artist" placeholder="Artist/Band"/>
    <br />
     <button type="submit">Search for an Artist</button>
</form>
