<table>
{{#each tracks}}
<div >
    <tr>
        <td><h3>{{this.name}}</h3> </td>
        <td><audio controls src={{preview_url}}> <code>audio</code> </audio></td>
    </tr>
</div>
{{/each}} 
</table>